/* Global variables prefixed with a `g-` */
:root {
	--g-font-size: 16px;
	--g-font-family-sans: 'Open Sans';
	--g-font-family-serif: 'Meriweather';
	--g-font-family-mono: 'Fira Code';

	--g-border-width: 2px;
	--g-border-radius: 6px;

	--g-color-primary-normal: rgb( 102, 68, 255 );
	--g-color-primary-accent: rgb( 68, 34, 221 );
	--g-color-primary-muted: rgb( 221, 221, 255 );

	--g-color-secondary-normal: rgb( 255, 153, 221 );
	--g-color-secondary-accent: rgb( 255, 119, 187 );
	--g-color-secondary-muted: rgb( 255, 221, 238 );

	--g-color-warning-normal: rgb( 251, 197, 79 );
	--g-color-warning-accent: rgb( 237, 186, 74 );
	--g-color-warning-muted: rgb( 254, 240, 211 );

	--g-color-danger-normal: rgb( 227, 81, 105 );
	--g-color-danger-accent: rgb( 206, 61, 85 );
	--g-color-danger-muted: rgb( 248, 211, 217 );

	--g-color-border-normal: rgb( 211, 218, 228 );
	--g-color-border-accent: rgb( 162, 181, 205 );
	--g-color-border-muted: rgb( 240, 244, 249 );

	--g-color-background-normal: rgb( 240, 244, 249 );
	--g-color-background-accent: rgb( 228, 234, 241 );
	--g-color-background-muted: rgb( 247, 250, 252 );
	--g-color-background-page: rgb( 255, 255, 255 );
	--g-color-background-invert: rgb( 38, 50, 56 );

	--g-color-foreground-normal: rgb( 79, 84, 100 );
	--g-color-foreground-accent: rgb( 23, 41, 64 );
	--g-color-foreground-muted: rgb( 162, 181, 205 );
	--g-color-foreground-invert: rgb( 255, 255, 255 );

	/* Categorical settings are simply prefixed with the category name */
	--module-background: rgb( 24, 34, 47 );
	--module-foreground: rgb( 162, 181, 205 );
	--module-hover-background: rgb( 24, 34, 47 );
	--module-hover-foreground: rgb( 255, 255, 255 );
	--module-active-background: rgb( 240, 244, 249 );
	--module-active-foreground: rgb( 23, 41, 64 );
}